<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>{{title}}</title>
    </head>
    <body>
        {{> header}}
        <h1>This is the about page in  {{date}}</h1>
        {{> footer}}
    </body>
</html>