<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Maintainance</title>
    </head>
    <body>
        {{> header }}
        <p>This website is under maintainance. Please come back later.</p>
        {{> footer }}
    </body>
</html>